.Header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 15px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s ease-in-out;
    /* background-color: #00091a; */
}
.Header:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    /* transform: translateY(-2px); */
}
.Button a{
    list-style-type: none;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:#001a00;
    font-size: 20px;
    text-transform:uppercase;
    position: relative;
}
.Button a:hover{
color: #004d00;
background-color: white;
padding: 15px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.name{
    display: flex;
    align-items: center;
}
.name img{
    width: 80px;
    border-radius: 50%;
}
