.CardList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 100px;
    justify-content: center;
    margin-top: 40px;
  }
  .Service{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .xx{
    margin-top:70px;
    /* background-color:#d7d7c1; */
  }
  
  .Service img{
    border-radius: 50%;
    height: 150px;
  }
  
  .Card {
    flex: 0 0 calc(25.33% - 30px);
    max-width: calc(33.33% - 30px);
  } 
   